@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1917;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header,
nav,
section,
article,
footer,
aside,
body,

h2,
h3,
p,
img,
a,
ul,
q,
em,
strong,
code,
pre{margin:0px;}


html {
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes animate-typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


.hide{
  opacity: 0;
  filter: blur(20px);
  transform: translateX(50%);
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}

.eye-container .eye {
  position: relative;
  width: 120px;
  height: 120px;
  display: block;
  background: white;
  margin: 0 20px;
  border-radius: 50%;
}

.eye-container .eye::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  top: 25%;
  left: 10%;
  box-sizing: border-box;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-image img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 30%;
}

.project-image:hover img{
  opacity: 80%;
  transition-duration: 1.3s;
}

.hover-lines span {
  position: absolute;
  background-color: white;
  transition: all 0.3s ease;
}

.top-line, .bottom-line {
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
}

.top-line {
  top: 3px;
  transform-origin: center;
}

.bottom-line {
  bottom: 3px;
  transform-origin: center;
}

.left-line, .right-line {
  top: 0;
  bottom: 0;
  width: 2px;
  transform: scaleY(0);
}

.left-line {
  left: 3px;
  transform-origin: center;
}

.right-line {
  right: 3px;
  transform-origin: center;
}

.project-image:hover .top-line, 
.project-image:hover .bottom-line {
  transform: scaleX(0.98);
}

.project-image:hover .left-line, 
.project-image:hover .right-line {
  transform: scaleY(0.98);
}
